/* tag rules */
h1{
    font-family: 'Roboto';
    text-align: center;
}
h2{
    text-align: center;
    font-family: cursive;
}

h3{
    text-align: center;
    font-family: 'Roboto';
    font-style: italic;
    border: 5px solid black;
}

h4{
    text-align: center;
    font-family: 'Roboto';
    font-style: italic;
}
h5{
    text-align: center;
    font-family: 'Roboto';
    font-style: italic;
}
i{
    text-align: center;
    font-family: 'Roboto';
}

footer{

    text-align: center;
    font-weight: 100;
    font-size: 10px;
    font-family: 'Roboto';
    color: orangered;
}

/* Begin navigation bar styling */
nav{
    text-align: center;
    margin-bottom: 20px;
}

button {
    font-size: 16px;
    margin: 0 10px;
    padding: 10px 20px;
    background-color: white;
    color: black;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: orange;
    color: white;
}

.nav-button {
    background-color: white;
    color: black;
}

.nav-button.active {
    background-color: orange;
    color: white;
    font-weight: bold;
}
/* end of CSS navigation bar styling */

body {
  text-shadow: 0 0 6px rgba(0,0,0,0.8);
  background-image: url("img/starfield.png");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    color: white;
}

header{
    font-size: 75px;
    text-align: center;
    margin-bottom: 20px;
}

/* id rules */
#team-Row{
    display: flex;      /* Use flexbox for layout */
    flex-wrap: wrap; /* Allow wrapping on smaller screens */
    justify-content: center;
    gap: 50px;
    margin-bottom: 20px;
}

#blurb{
    font-family: 'Roboto';
    text-align: center;
}

#table{
    border: 5px solid black;
    background-color: black;
    margin: 20px auto;
    border-collapse: collapse;
}

#table th, #table td {
    padding: 15px 20px;
    border: 1px solid black;
}

#table th {
    background-color: orange;
    color: white;
}

#table td {
    background-color: lightgray;
    text-align: center;
}

ul {
    list-style: none;
    text-align: center;
    text-transform: capitalize;
    text-shadow: 0 0 6px rgba(0,5,5,1.8);

}

iframe {
    display: block;
    margin: 0 auto;
}

/* class rules */
.footer-logo {
    width: 175px;
    margin-top: 10px;
}